body {
	color: #57b;
	font-size: 12px;
	font-family: 'Lucida Sans', Arial, sans-serif;
	background-color: #041c5f;
	background-image: -moz-linear-gradient(top, #040c3f, #040c3f 20%, #07368b 90%, #0057a6);
	background-image: -webkit-gradient(linear, center top, center bottom, from( #040c3f), color-stop(20%, #040c3f), color-stop(90%, #07368b), to( #0057a6)); 
	background-image: linear-gradient(top, #040c3f, #040c3f 20%, #07368b 90%, #0057a6);
	overflow: hidden;
}
#cloud{
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin-left: -119px;
	margin-top: -100px;
	width: 238px;
	height: 156px;
	background: url(../img/mm_cloud.png);
}
#particleCanvas{
	z-index: 0;
}
#loading{
	position: absolute;
	top: 50%;
	margin-top: 90px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.625em;
}
#loading .browsers{
	font-size: 12px;
	display: none;
}
#hd{
	position: absolute;
	text-align: center;
	bottom: 20px;
	width: 100%;
}
#hd li{
	display: inline-block;
	margin-right: 2em;
}
#hd li:last-child{
	margin-right: 0;
}	
a{
	color: #79d;
	text-decoration: none;
}
a:hover{
	color: #cdf;
}

#ft{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
#ft .fb_iframe_widget,
#ft .fb_ltr{
    width: 85px;
}
#ft .fb_iframe_widget{
    display: block;
    float: left;
}
#ft .twitter-share-button{
    margin-top: 4px;
}